SharedLibrary/Service References/MciSendUssdServiceServiceReference/parlayx_ussd_send_interface.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:parlayx_ussd_xsd="http://www.csapi.org/schema/parlayx/ussd/v4_0" xmlns:parlayx_ussd_send="http://www.csapi.org/wsdl/parlayx/ussd/send/v4_0/interface" xmlns:parlayx_ussd_send_local_xsd="http://www.csapi.org/schema/parlayx/ussd/send/v4_0/local" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:parlayx_common_faults="http://www.csapi.org/wsdl/parlayx/common/v4_0/faults" xmlns:parlayx_common_xsd="http://www.csapi.org/schema/parlayx/common/v4_0" xmlns="http://schemas.xmlsoap.org/wsdl/" name="parlayx_ussd_send_interface" targetNamespace="http://www.csapi.org/wsdl/parlayx/ussd/send/v4_0/interface" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="http://www.csapi.org/wsdl/parlayx/common/v4_0/faults" location="SendUssdService_1_2.wsdl" />
  <wsdl:types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.csapi.org/schema/parlayx/ussd/send/v4_0/local">
      <xsd:import schemaLocation="SendUssdService_1.xsd" namespace="http://www.csapi.org/schema/parlayx/ussd/v4_0" />
      <xsd:import schemaLocation="SendUssdService.xsd" namespace="http://www.csapi.org/schema/parlayx/common/v4_0" />
      <xsd:element name="beginUssd" type="parlayx_ussd_send_local_xsd:beginUssd" />
      <xsd:complexType name="beginUssd">
        <xsd:sequence>
          <xsd:element name="ServiceKey">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:minLength value="0" />
                <xsd:maxLength value="150" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="Address">
            <xsd:simpleType>
              <xsd:restriction base="xsd:anyURI">
                <xsd:minLength value="0" />
                <xsd:maxLength value="1500" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="message">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:minLength value="0" />
                <xsd:maxLength value="1024" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="DCS">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:minLength value="0" />
                <xsd:maxLength value="5" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="beginUssdResponse" type="parlayx_ussd_send_local_xsd:beginUssdResponse" />
      <xsd:complexType name="beginUssdResponse">
        <xsd:sequence>
          <xsd:element name="result" type="parlayx_ussd_xsd:Status" />
          <xsd:element name="SessionID" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="continueUssd" type="parlayx_ussd_send_local_xsd:continueUssd" />
      <xsd:complexType name="continueUssd">
        <xsd:sequence>
          <xsd:element name="ServiceKey">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:minLength value="0" />
                <xsd:maxLength value="150" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="SessionID">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:minLength value="0" />
                <xsd:maxLength value="100" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="Address">
            <xsd:simpleType>
              <xsd:restriction base="xsd:anyURI">
                <xsd:minLength value="0" />
                <xsd:maxLength value="1500" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="message">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:minLength value="0" />
                <xsd:maxLength value="1024" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="DCS">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:minLength value="0" />
                <xsd:maxLength value="5" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="continueUssdResponse" type="parlayx_ussd_send_local_xsd:continueUssdResponse" />
      <xsd:complexType name="continueUssdResponse">
        <xsd:sequence>
          <xsd:element name="result" type="parlayx_ussd_xsd:Status" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="endUssd" type="parlayx_ussd_send_local_xsd:endUssd" />
      <xsd:complexType name="endUssd">
        <xsd:sequence>
          <xsd:element name="ServiceKey">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:minLength value="0" />
                <xsd:maxLength value="150" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="SessionID">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:minLength value="0" />
                <xsd:maxLength value="100" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="Address">
            <xsd:simpleType>
              <xsd:restriction base="xsd:anyURI">
                <xsd:minLength value="0" />
                <xsd:maxLength value="1500" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="message">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:minLength value="0" />
                <xsd:maxLength value="1024" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="DCS">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:minLength value="0" />
                <xsd:maxLength value="5" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="endUssdResponse" type="parlayx_ussd_send_local_xsd:endUssdResponse" />
      <xsd:complexType name="endUssdResponse">
        <xsd:sequence>
          <xsd:element name="result" type="parlayx_ussd_xsd:Status" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="notifyUssd" type="parlayx_ussd_send_local_xsd:notifyUssd" />
      <xsd:complexType name="notifyUssd">
        <xsd:sequence>
          <xsd:element name="ServiceKey">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:minLength value="0" />
                <xsd:maxLength value="150" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="Address">
            <xsd:simpleType>
              <xsd:restriction base="xsd:anyURI">
                <xsd:minLength value="0" />
                <xsd:maxLength value="1500" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="message">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:minLength value="0" />
                <xsd:maxLength value="1024" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="DCS">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:minLength value="0" />
                <xsd:maxLength value="5" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="notifyUssdResponse" type="parlayx_ussd_send_local_xsd:notifyUssdResponse" />
      <xsd:complexType name="notifyUssdResponse">
        <xsd:sequence>
          <xsd:element name="result" type="parlayx_ussd_xsd:Status" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="abortUssd" type="parlayx_ussd_send_local_xsd:abortUssd" />
      <xsd:complexType name="abortUssd">
        <xsd:sequence>
          <xsd:element name="ServiceKey">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:minLength value="0" />
                <xsd:maxLength value="150" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="Address">
            <xsd:simpleType>
              <xsd:restriction base="xsd:anyURI">
                <xsd:minLength value="0" />
                <xsd:maxLength value="1500" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="SessionID">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:minLength value="0" />
                <xsd:maxLength value="100" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="AbortReason" type="parlayx_ussd_xsd:Reason" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="abortUssdResponse" type="parlayx_ussd_send_local_xsd:abortUssdResponse" />
      <xsd:complexType name="abortUssdResponse">
        <xsd:sequence>
          <xsd:element name="result" type="parlayx_ussd_xsd:Status" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="SendUssd_continueUssdRequest">
    <wsdl:part name="parameters" element="parlayx_ussd_send_local_xsd:continueUssd" />
  </wsdl:message>
  <wsdl:message name="SendUssd_endUssdRequest">
    <wsdl:part name="parameters" element="parlayx_ussd_send_local_xsd:endUssd" />
  </wsdl:message>
  <wsdl:message name="SendUssd_beginUssdResponse">
    <wsdl:part name="result" element="parlayx_ussd_send_local_xsd:beginUssdResponse" />
  </wsdl:message>
  <wsdl:message name="SendUssd_abortUssdRequest">
    <wsdl:part name="parameters" element="parlayx_ussd_send_local_xsd:abortUssd" />
  </wsdl:message>
  <wsdl:message name="SendUssd_abortUssdResponse">
    <wsdl:part name="result" element="parlayx_ussd_send_local_xsd:abortUssdResponse" />
  </wsdl:message>
  <wsdl:message name="SendUssd_notifyUssdResponse">
    <wsdl:part name="result" element="parlayx_ussd_send_local_xsd:notifyUssdResponse" />
  </wsdl:message>
  <wsdl:message name="SendUssd_endUssdResponse">
    <wsdl:part name="result" element="parlayx_ussd_send_local_xsd:endUssdResponse" />
  </wsdl:message>
  <wsdl:message name="SendUssd_notifyUssdRequest">
    <wsdl:part name="parameters" element="parlayx_ussd_send_local_xsd:notifyUssd" />
  </wsdl:message>
  <wsdl:message name="SendUssd_continueUssdResponse">
    <wsdl:part name="result" element="parlayx_ussd_send_local_xsd:continueUssdResponse" />
  </wsdl:message>
  <wsdl:message name="SendUssd_beginUssdRequest">
    <wsdl:part name="parameters" element="parlayx_ussd_send_local_xsd:beginUssd" />
  </wsdl:message>
  <wsdl:portType name="SendUssd">
    <wsdl:operation name="beginUssd">
      <wsdl:input message="parlayx_ussd_send:SendUssd_beginUssdRequest" />
      <wsdl:output message="parlayx_ussd_send:SendUssd_beginUssdResponse" />
      <wsdl:fault name="PolicyException" message="parlayx_common_faults:PolicyException" />
      <wsdl:fault name="ServiceException" message="parlayx_common_faults:ServiceException" />
    </wsdl:operation>
    <wsdl:operation name="continueUssd">
      <wsdl:input message="parlayx_ussd_send:SendUssd_continueUssdRequest" />
      <wsdl:output message="parlayx_ussd_send:SendUssd_continueUssdResponse" />
      <wsdl:fault name="PolicyException" message="parlayx_common_faults:PolicyException" />
      <wsdl:fault name="ServiceException" message="parlayx_common_faults:ServiceException" />
    </wsdl:operation>
    <wsdl:operation name="endUssd">
      <wsdl:input message="parlayx_ussd_send:SendUssd_endUssdRequest" />
      <wsdl:output message="parlayx_ussd_send:SendUssd_endUssdResponse" />
      <wsdl:fault name="PolicyException" message="parlayx_common_faults:PolicyException" />
      <wsdl:fault name="ServiceException" message="parlayx_common_faults:ServiceException" />
    </wsdl:operation>
    <wsdl:operation name="notifyUssd">
      <wsdl:input message="parlayx_ussd_send:SendUssd_notifyUssdRequest" />
      <wsdl:output message="parlayx_ussd_send:SendUssd_notifyUssdResponse" />
      <wsdl:fault name="PolicyException" message="parlayx_common_faults:PolicyException" />
      <wsdl:fault name="ServiceException" message="parlayx_common_faults:ServiceException" />
    </wsdl:operation>
    <wsdl:operation name="abortUssd">
      <wsdl:input message="parlayx_ussd_send:SendUssd_abortUssdRequest" />
      <wsdl:output message="parlayx_ussd_send:SendUssd_abortUssdResponse" />
      <wsdl:fault name="PolicyException" message="parlayx_common_faults:PolicyException" />
      <wsdl:fault name="ServiceException" message="parlayx_common_faults:ServiceException" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>