SharedLibrary/Service References/MciSendSmsServiceServiceReference/SendSmsService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:parlayx_common_xsd="http://www.csapi.org/schema/parlayx/common/v4_0" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://www.csapi.org/schema/parlayx/common/v4_0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="TimeMetric">
    <xsd:sequence>
      <xsd:element name="metric" type="parlayx_common_xsd:TimeMetrics" />
      <xsd:element name="units" type="xsd:int" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ChargingInformation">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" name="description">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:minLength value="0" />
            <xsd:maxLength value="1024" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" name="currency">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:minLength value="0" />
            <xsd:maxLength value="20" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" name="amount">
        <xsd:simpleType>
          <xsd:restriction base="xsd:decimal">
            <xsd:minInclusive value="0" />
            <xsd:maxInclusive value="1000000000" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" name="code">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:minLength value="0" />
            <xsd:maxLength value="100" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SimpleReference">
    <xsd:sequence>
      <xsd:element name="endpoint">
        <xsd:simpleType>
          <xsd:restriction base="xsd:anyURI">
            <xsd:minLength value="0" />
            <xsd:maxLength value="1024" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="interfaceName">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:minLength value="0" />
            <xsd:maxLength value="512" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="correlator">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:minLength value="0" />
            <xsd:maxLength value="100" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ServiceError">
    <xsd:sequence>
      <xsd:element name="messageId" type="xsd:string" />
      <xsd:element name="text" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="variables" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CallParticipantInformation">
    <xsd:sequence>
      <xsd:element name="callParticipantIdentifier" type="xsd:anyURI" />
      <xsd:element name="callParticipantStatus" type="parlayx_common_xsd:CallParticipantStatus" />
      <xsd:element minOccurs="0" name="callParticipantStartTime" type="xsd:dateTime" />
      <xsd:element minOccurs="0" name="callParticipantDuration" type="xsd:int" />
      <xsd:element minOccurs="0" name="callParticipantTerminationCause" type="parlayx_common_xsd:CallParticipantTerminationCause" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="mediaInfo" type="parlayx_common_xsd:MediaInfo" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CallSession">
    <xsd:sequence>
      <xsd:element name="callSessionIdentifier" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="callParticipantInformation" type="parlayx_common_xsd:CallParticipantInformation" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="MediaInfo">
    <xsd:sequence>
      <xsd:element name="media" type="parlayx_common_xsd:Media" />
      <xsd:element name="mediaDirection" type="parlayx_common_xsd:MediaDirection" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="RetrievalStatus">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Retrieved" />
      <xsd:enumeration value="NotRetrieved" />
      <xsd:enumeration value="Error" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="NameValuePair">
    <xsd:sequence>
      <xsd:element name="name" type="xsd:string" />
      <xsd:element name="value" type="xsd:string" />
      <xsd:element minOccurs="0" name="description" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="TimeMetrics">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Millisecond" />
      <xsd:enumeration value="Second" />
      <xsd:enumeration value="Minute" />
      <xsd:enumeration value="Hour" />
      <xsd:enumeration value="Day" />
      <xsd:enumeration value="Week" />
      <xsd:enumeration value="Month" />
      <xsd:enumeration value="Year" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="CallParticipantStatus">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="CallParticipantInitial" />
      <xsd:enumeration value="CallParticipantConnected" />
      <xsd:enumeration value="CallParticipantTerminated" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="CallParticipantTerminationCause">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="CallParticipantNoAnswer" />
      <xsd:enumeration value="CallParticipantBusy" />
      <xsd:enumeration value="CallParticipantNotReachable" />
      <xsd:enumeration value="CallParticipantHangUp" />
      <xsd:enumeration value="CallParticipantAborted" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Media">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Audio" />
      <xsd:enumeration value="Video" />
      <xsd:enumeration value="Chat" />
      <xsd:enumeration value="Data" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="MediaDirection">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="In" />
      <xsd:enumeration value="Out" />
      <xsd:enumeration value="InOut" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:element name="ServiceException" type="parlayx_common_xsd:ServiceException" />
  <xsd:complexType name="ServiceException">
    <xsd:sequence>
      <xsd:element name="messageId" type="xsd:string" />
      <xsd:element name="text" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="variables" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="PolicyException" type="parlayx_common_xsd:PolicyException" />
  <xsd:complexType name="PolicyException">
    <xsd:sequence>
      <xsd:element name="messageId" type="xsd:string" />
      <xsd:element name="text" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="variables" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>