SharedLibrary/Service References/MciSendSmsServiceServiceReference/SendSmsService_1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:parlayx_sms_xsd="http://www.csapi.org/schema/parlayx/sms/v4_0" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://www.csapi.org/schema/parlayx/sms/v4_0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="DeliveryInformation">
    <xsd:sequence>
      <xsd:element name="address" type="xsd:anyURI" />
      <xsd:element name="deliveryStatus" type="parlayx_sms_xsd:DeliveryStatus" />
      <xsd:element minOccurs="0" name="description" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ScheduledDeliveryInformation">
    <xsd:sequence>
      <xsd:element name="deliveryStatus" type="parlayx_sms_xsd:ScheduledDeliveryStatus" />
      <xsd:element minOccurs="0" name="numberOfMessagesSent" type="xsd:int" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SmsMessage">
    <xsd:sequence>
      <xsd:element name="message" type="xsd:string" />
      <xsd:element name="senderAddress" type="xsd:anyURI" />
      <xsd:element name="smsServiceActivationNumber" type="xsd:anyURI" />
      <xsd:element minOccurs="0" name="dateTime" type="xsd:dateTime" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="DeliveryStatus">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="DeliveredToNetwork" />
      <xsd:enumeration value="DeliveryUncertain" />
      <xsd:enumeration value="DeliveryImpossible" />
      <xsd:enumeration value="MessageWaiting" />
      <xsd:enumeration value="DeliveredToTerminal" />
      <xsd:enumeration value="DeliveryNotificationNotSupported" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ScheduledDeliveryStatus">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Scheduled" />
      <xsd:enumeration value="NotSent" />
      <xsd:enumeration value="Sent" />
      <xsd:enumeration value="Cancelled" />
      <xsd:enumeration value="PartiallySent" />
      <xsd:enumeration value="StatusUnavailable" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="SmsFormat">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Ems" />
      <xsd:enumeration value="SmartMessaging" />
    </xsd:restriction>
  </xsd:simpleType>
</xsd:schema>