SharedLibrary/Service References/MciSendSmsServiceBulkServiceReference/parlayx_sms_send_interface.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:parlayx_sms_xsd="http://www.csapi.org/schema/parlayx/sms/v4_0" xmlns:parlayx_sms_send_local_xsd="http://www.csapi.org/schema/parlayx/sms/send/v4_0/local" xmlns:parlayx_sms_send="http://www.csapi.org/wsdl/parlayx/sms/send/v4_0/interface" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:parlayx_common_faults="http://www.csapi.org/wsdl/parlayx/common/v4_0/faults" xmlns:parlayx_common_xsd="http://www.csapi.org/schema/parlayx/common/v4_0" xmlns="http://schemas.xmlsoap.org/wsdl/" name="parlayx_sms_send_interface" targetNamespace="http://www.csapi.org/wsdl/parlayx/sms/send/v4_0/interface" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="http://www.csapi.org/wsdl/parlayx/common/v4_0/faults" location="SendSmsServiceBulk_1_2.wsdl" />
  <wsdl:types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.csapi.org/schema/parlayx/sms/send/v4_0/local">
      <xsd:import schemaLocation="SendSmsServiceBulk_1.xsd" namespace="http://www.csapi.org/schema/parlayx/sms/v4_0" />
      <xsd:import schemaLocation="SendSmsServiceBulk.xsd" namespace="http://www.csapi.org/schema/parlayx/common/v4_0" />
      <xsd:element name="sendSms" type="parlayx_sms_send_local_xsd:sendSms" />
      <xsd:complexType name="sendSms">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="unbounded" name="sendmessage" type="parlayx_common_xsd:sendMessage" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="sendSmsResponse" type="parlayx_sms_send_local_xsd:sendSmsResponse" />
      <xsd:complexType name="sendSmsResponse">
        <xsd:sequence>
          <xsd:element name="result" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="sendBinarySms" type="parlayx_sms_send_local_xsd:sendBinarySms" />
      <xsd:complexType name="sendBinarySms">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="unbounded" name="sendbinarymessage" type="parlayx_common_xsd:sendBinaryMessage" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="sendBinarySmsResponse" type="parlayx_sms_send_local_xsd:sendBinarySmsResponse" />
      <xsd:complexType name="sendBinarySmsResponse">
        <xsd:sequence>
          <xsd:element name="result" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="getSmsDeliveryStatus" type="parlayx_sms_send_local_xsd:getSmsDeliveryStatus" />
      <xsd:complexType name="getSmsDeliveryStatus">
        <xsd:sequence>
          <xsd:element name="requestIdentifier">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:minLength value="0" />
                <xsd:maxLength value="150" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="getSmsDeliveryStatusResponse" type="parlayx_sms_send_local_xsd:getSmsDeliveryStatusResponse" />
      <xsd:complexType name="getSmsDeliveryStatusResponse">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="result" type="parlayx_sms_xsd:DeliveryInformation" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="scheduleSms" type="parlayx_sms_send_local_xsd:scheduleSms" />
      <xsd:complexType name="scheduleSms">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="unbounded" name="scheduleMessage" type="parlayx_common_xsd:scheduleMessage" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="scheduleSmsResponse" type="parlayx_sms_send_local_xsd:scheduleSmsResponse" />
      <xsd:complexType name="scheduleSmsResponse">
        <xsd:sequence>
          <xsd:element name="result" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="scheduleBinarySms" type="parlayx_sms_send_local_xsd:scheduleBinarySms" />
      <xsd:complexType name="scheduleBinarySms">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="unbounded" name="schedulebinarymessage" type="parlayx_common_xsd:scheduleBinaryMessage" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="scheduleBinarySmsResponse" type="parlayx_sms_send_local_xsd:scheduleBinarySmsResponse" />
      <xsd:complexType name="scheduleBinarySmsResponse">
        <xsd:sequence>
          <xsd:element name="result" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="cancelScheduledSms" type="parlayx_sms_send_local_xsd:cancelScheduledSms" />
      <xsd:complexType name="cancelScheduledSms">
        <xsd:sequence>
          <xsd:element name="requestIdentifier">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:minLength value="0" />
                <xsd:maxLength value="150" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="cancelScheduledSmsResponse" type="parlayx_sms_send_local_xsd:cancelScheduledSmsResponse" />
      <xsd:complexType name="cancelScheduledSmsResponse">
        <xsd:sequence />
      </xsd:complexType>
      <xsd:element name="getScheduledSmsStatus" type="parlayx_sms_send_local_xsd:getScheduledSmsStatus" />
      <xsd:complexType name="getScheduledSmsStatus">
        <xsd:sequence>
          <xsd:element name="requestIdentifier" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="getScheduledSmsStatusResponse" type="parlayx_sms_send_local_xsd:getScheduledSmsStatusResponse" />
      <xsd:complexType name="getScheduledSmsStatusResponse">
        <xsd:sequence>
          <xsd:element name="result" type="parlayx_sms_xsd:ScheduledDeliveryInformation" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="SendSms_sendBinarySmsResponse">
    <wsdl:part name="result" element="parlayx_sms_send_local_xsd:sendBinarySmsResponse" />
  </wsdl:message>
  <wsdl:message name="SendSms_scheduleSmsRequest">
    <wsdl:part name="parameters" element="parlayx_sms_send_local_xsd:scheduleSms" />
  </wsdl:message>
  <wsdl:message name="SendSms_getScheduledSmsStatusResponse">
    <wsdl:part name="result" element="parlayx_sms_send_local_xsd:getScheduledSmsStatusResponse" />
  </wsdl:message>
  <wsdl:message name="SendSms_getScheduledSmsStatusRequest">
    <wsdl:part name="parameters" element="parlayx_sms_send_local_xsd:getScheduledSmsStatus" />
  </wsdl:message>
  <wsdl:message name="SendSms_cancelScheduledSmsRequest">
    <wsdl:part name="parameters" element="parlayx_sms_send_local_xsd:cancelScheduledSms" />
  </wsdl:message>
  <wsdl:message name="SendSms_cancelScheduledSmsResponse">
    <wsdl:part name="result" element="parlayx_sms_send_local_xsd:cancelScheduledSmsResponse" />
  </wsdl:message>
  <wsdl:message name="SendSms_sendBinarySmsRequest">
    <wsdl:part name="parameters" element="parlayx_sms_send_local_xsd:sendBinarySms" />
  </wsdl:message>
  <wsdl:message name="SendSms_scheduleBinarySmsRequest">
    <wsdl:part name="parameters" element="parlayx_sms_send_local_xsd:scheduleBinarySms" />
  </wsdl:message>
  <wsdl:message name="SendSms_scheduleBinarySmsResponse">
    <wsdl:part name="result" element="parlayx_sms_send_local_xsd:scheduleBinarySmsResponse" />
  </wsdl:message>
  <wsdl:message name="SendSms_sendSmsRequest">
    <wsdl:part name="parameters" element="parlayx_sms_send_local_xsd:sendSms" />
  </wsdl:message>
  <wsdl:message name="SendSms_scheduleSmsResponse">
    <wsdl:part name="result" element="parlayx_sms_send_local_xsd:scheduleSmsResponse" />
  </wsdl:message>
  <wsdl:message name="SendSms_getSmsDeliveryStatusResponse">
    <wsdl:part name="result" element="parlayx_sms_send_local_xsd:getSmsDeliveryStatusResponse" />
  </wsdl:message>
  <wsdl:message name="SendSms_sendSmsResponse">
    <wsdl:part name="result" element="parlayx_sms_send_local_xsd:sendSmsResponse" />
  </wsdl:message>
  <wsdl:message name="SendSms_getSmsDeliveryStatusRequest">
    <wsdl:part name="parameters" element="parlayx_sms_send_local_xsd:getSmsDeliveryStatus" />
  </wsdl:message>
  <wsdl:portType name="SendSms">
    <wsdl:operation name="sendSms">
      <wsdl:input message="parlayx_sms_send:SendSms_sendSmsRequest" />
      <wsdl:output message="parlayx_sms_send:SendSms_sendSmsResponse" />
      <wsdl:fault name="PolicyException" message="parlayx_common_faults:PolicyException" />
      <wsdl:fault name="ServiceException" message="parlayx_common_faults:ServiceException" />
    </wsdl:operation>
    <wsdl:operation name="sendBinarySms">
      <wsdl:input message="parlayx_sms_send:SendSms_sendBinarySmsRequest" />
      <wsdl:output message="parlayx_sms_send:SendSms_sendBinarySmsResponse" />
      <wsdl:fault name="PolicyException" message="parlayx_common_faults:PolicyException" />
      <wsdl:fault name="ServiceException" message="parlayx_common_faults:ServiceException" />
    </wsdl:operation>
    <wsdl:operation name="getSmsDeliveryStatus">
      <wsdl:input message="parlayx_sms_send:SendSms_getSmsDeliveryStatusRequest" />
      <wsdl:output message="parlayx_sms_send:SendSms_getSmsDeliveryStatusResponse" />
      <wsdl:fault name="PolicyException" message="parlayx_common_faults:PolicyException" />
      <wsdl:fault name="ServiceException" message="parlayx_common_faults:ServiceException" />
    </wsdl:operation>
    <wsdl:operation name="scheduleSms">
      <wsdl:input message="parlayx_sms_send:SendSms_scheduleSmsRequest" />
      <wsdl:output message="parlayx_sms_send:SendSms_scheduleSmsResponse" />
      <wsdl:fault name="PolicyException" message="parlayx_common_faults:PolicyException" />
      <wsdl:fault name="ServiceException" message="parlayx_common_faults:ServiceException" />
    </wsdl:operation>
    <wsdl:operation name="scheduleBinarySms">
      <wsdl:input message="parlayx_sms_send:SendSms_scheduleBinarySmsRequest" />
      <wsdl:output message="parlayx_sms_send:SendSms_scheduleBinarySmsResponse" />
      <wsdl:fault name="PolicyException" message="parlayx_common_faults:PolicyException" />
      <wsdl:fault name="ServiceException" message="parlayx_common_faults:ServiceException" />
    </wsdl:operation>
    <wsdl:operation name="cancelScheduledSms">
      <wsdl:input message="parlayx_sms_send:SendSms_cancelScheduledSmsRequest" />
      <wsdl:output message="parlayx_sms_send:SendSms_cancelScheduledSmsResponse" />
      <wsdl:fault name="PolicyException" message="parlayx_common_faults:PolicyException" />
      <wsdl:fault name="ServiceException" message="parlayx_common_faults:ServiceException" />
    </wsdl:operation>
    <wsdl:operation name="getScheduledSmsStatus">
      <wsdl:input message="parlayx_sms_send:SendSms_getScheduledSmsStatusRequest" />
      <wsdl:output message="parlayx_sms_send:SendSms_getScheduledSmsStatusResponse" />
      <wsdl:fault name="PolicyException" message="parlayx_common_faults:PolicyException" />
      <wsdl:fault name="ServiceException" message="parlayx_common_faults:ServiceException" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>