SharedLibrary/Service References/MciAmountChargingServiceServiceReference/AmountChargingService_1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:parlayx_payment_xsd="http://www.csapi.org/schema/parlayx/payment/v4_0" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://www.csapi.org/schema/parlayx/payment/v4_0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="SplitType">
    <xsd:sequence>
      <xsd:element name="endUserIdentifier" type="xsd:anyURI" />
      <xsd:element name="percent" type="xsd:int" />
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>