SharedLibrary/Service References/PardisOTPServiceReference/PardisOTP.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Request">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SPID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="request" type="tns:CPOTPRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CPOTPRequest">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ShortCode" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="ChargeCode" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="MobileNo" type="s:long" />
        </s:sequence>
      </s:complexType>
      <s:element name="RequestResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RequestResult" type="tns:PardisOTPResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="PardisOTPResponse">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="OTPTransactionId" nillable="true" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="ReferenceCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ErrorMessage" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ErrorCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="StatusCode" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="Confirm">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SPID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="confirm" type="tns:CPOTPConfirm" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CPOTPConfirm">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ShortCode" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="OTPTransactionId" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="PIN" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="MobileNo" type="s:long" />
        </s:sequence>
      </s:complexType>
      <s:element name="ConfirmResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConfirmResult" type="tns:PardisOTPResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="RequestSoapIn">
    <wsdl:part name="parameters" element="tns:Request" />
  </wsdl:message>
  <wsdl:message name="RequestSoapOut">
    <wsdl:part name="parameters" element="tns:RequestResponse" />
  </wsdl:message>
  <wsdl:message name="ConfirmSoapIn">
    <wsdl:part name="parameters" element="tns:Confirm" />
  </wsdl:message>
  <wsdl:message name="ConfirmSoapOut">
    <wsdl:part name="parameters" element="tns:ConfirmResponse" />
  </wsdl:message>
  <wsdl:portType name="OTPSoap">
    <wsdl:operation name="Request">
      <wsdl:input message="tns:RequestSoapIn" />
      <wsdl:output message="tns:RequestSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Confirm">
      <wsdl:input message="tns:ConfirmSoapIn" />
      <wsdl:output message="tns:ConfirmSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="OTPSoap" type="tns:OTPSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Request">
      <soap:operation soapAction="http://tempuri.org/Request" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Confirm">
      <soap:operation soapAction="http://tempuri.org/Confirm" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="OTPSoap12" type="tns:OTPSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Request">
      <soap12:operation soapAction="http://tempuri.org/Request" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Confirm">
      <soap12:operation soapAction="http://tempuri.org/Confirm" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OTP">
    <wsdl:port name="OTPSoap" binding="tns:OTPSoap">
      <soap:address location="http://10.20.22.18:1090/OTP/OTP.asmx" />
    </wsdl:port>
    <wsdl:port name="OTPSoap12" binding="tns:OTPSoap12">
      <soap12:address location="http://10.20.22.18:1090/OTP/OTP.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>