SharedLibrary/Service References/MciSendMessageServiceServiceReference/SendMessageService_1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:parlayx_mm_xsd="http://www.csapi.org/schema/parlayx/multimedia_messaging/v4_0" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://www.csapi.org/schema/parlayx/multimedia_messaging/v4_0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="DeliveryInformation">
    <xsd:sequence>
      <xsd:element name="address" type="xsd:anyURI" />
      <xsd:element name="deliveryStatus" type="parlayx_mm_xsd:DeliveryStatus" />
      <xsd:element minOccurs="0" name="description" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ScheduledDeliveryInformation">
    <xsd:sequence>
      <xsd:element name="deliveryStatus" type="parlayx_mm_xsd:ScheduledDeliveryStatus" />
      <xsd:element minOccurs="0" name="numberOfMessagesSent" type="xsd:int" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="MessageReference">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="messageIdentifier" type="xsd:string" />
      <xsd:element name="messageServiceActivationNumber" type="xsd:string" />
      <xsd:element name="senderAddress" type="xsd:anyURI" />
      <xsd:element minOccurs="0" name="subject" type="xsd:string" />
      <xsd:element name="priority" type="parlayx_mm_xsd:MessagePriority" />
      <xsd:element minOccurs="0" name="message" type="xsd:string" />
      <xsd:element minOccurs="0" name="format" type="parlayx_mm_xsd:MessageFormat" />
      <xsd:element minOccurs="0" name="dateTime" type="xsd:dateTime" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="MessageURI">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="bodyText" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="fileReferences" type="xsd:anyURI" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="MessagePriority">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Default" />
      <xsd:enumeration value="Low" />
      <xsd:enumeration value="Normal" />
      <xsd:enumeration value="High" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DeliveryStatus">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="DeliveredToTerminal" />
      <xsd:enumeration value="DeliveryUncertain" />
      <xsd:enumeration value="DeliveryImpossible" />
      <xsd:enumeration value="MessageWaiting" />
      <xsd:enumeration value="DeliveredToNetwork" />
      <xsd:enumeration value="DeliveryNotificationNotSupported" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ScheduledDeliveryStatus">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Scheduled" />
      <xsd:enumeration value="NotSent" />
      <xsd:enumeration value="Sent" />
      <xsd:enumeration value="Cancelled" />
      <xsd:enumeration value="PartiallySent" />
      <xsd:enumeration value="StatusUnavailable" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="MessageFormat">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="MMS" />
      <xsd:enumeration value="WapPush" />
      <xsd:enumeration value="SMS" />
      <xsd:enumeration value="EMS" />
      <xsd:enumeration value="SmartMessaging" />
      <xsd:enumeration value="IM" />
      <xsd:enumeration value="IMPagerMode" />
      <xsd:enumeration value="IMLargeMessage" />
      <xsd:enumeration value="IMFileTransfer" />
      <xsd:enumeration value="EMail" />
    </xsd:restriction>
  </xsd:simpleType>
</xsd:schema>